@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


#scrollBar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#scrollBar::-webkit-scrollbar {
    display: none;
}

.sidebarHide{
    left: -350px;
}
.font-Manrope {
    font-family: 'Manrope', sans-serif;
  }

  .font-OpenSans {
    font-family: 'Open Sans', sans-serif;
  }
  
.apexcharts-legend-series{
    @apply hidden;
}
.apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom {
    @apply hidden !important
  }
  